body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card-container{
	margin: 30px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* align-items: center; */
}
.card{
	margin-top: 80px;
	/* border: 2px solid red;  */
	/* background-color: lightgray; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1 0 33.33%;
	border-radius: 5px;
	overflow: hidden;
	max-width: 200px;
	font-size: 15px;
	align-items: center;
	height: 360px;
}
.card-img{
	/* position: relative; */
	border-radius: 7.5px;
	overflow: hidden;
	max-width: 200px;
	max-height: 200px;
}
.card-stats{
	display: flex;
	justify-content:center;
}
.card-stats > img{
	max-width: 20px;
	/* max-height: 20px; */
}
.card p{
	margin-top: 0px;
	justify-self: center;
}
.card-title{
	font-family: Poppins;
	max-width: 150px;
	margin-top: -20px;
}

.tag{
	position: absolute;
    background-color: rgba(0, 0, 0, 0.297);
	color: rgb(0, 0, 0);
    padding: 0px 5px;
	margin-right: 110px;
    border-radius: 2px;
	border: 0.15px solid black;
    font-weight: bold;
}